##定义初始变量
#set($tableName = $tool.append($tableInfo.name, "Repository"))
##设置回调
$!callback.setFileName($tool.append($tableName, ".java"))
$!callback.setSavePath($tool.append($tableInfo.savePath, "/domain/easycodegenerate/support/repository"))

##拿到主键
#if(!$tableInfo.pkColumn.isEmpty())
    #set($pk = $tableInfo.pkColumn.get(0))
#end

#if($tableInfo.savePackageName)package $!{tableInfo.savePackageName}.#{end}domain.easycodegenerate.support.repository;

/**
 * $!{tableInfo.comment}($!{tableInfo.name})
 * 仓储接口层
 *
 * @author $!author
 * @since $!time.currTime()
 */
public interface $!{tableName} {
        // add method here.
}